*{
    text-decoration: none;
    margin: auto;
}

html {
  scroll-behavior: smooth;
}

body{
    width: auto;
    background-color: #e4e4e4;
}

header{
    background-color: #e4e4e4;
    display: flex;
    width: auto;
    padding: 100px 0px 100px 0px;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1200px;
    margin-bottom: 2%;
}

/* a:visited { color: inherit; } */

#desktop-nav ul{
    display: flex;
}

#desktop-nav ul li{
    width: 127px;
    height: 40px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    list-style: none;
    border-bottom: 2px solid #542c70;
    margin-left: 38px;
}

#desktop-nav ul li a {
    font-weight: bold;
}

#desktop-nav ul li a:visited, #desktop-nav ul li a {
  color: #542c70;
}

#redes{
    position: absolute;
    right: 16px;
    top: -67px;
}

#redes a{
    margin: 5px 3px;
}

#redes img{
    width: 28px;
}

#redes-footer{
  position: absolute;
  right: 16px;
  top: 8px;
}

#redes-footer a{
  margin: 5px 3px;
}

#redes-footer img{
  width: 28px !important;
}


#mobile-nav{
    display: none;
}

.back-text{
    font-family: 'Poppins';
    font-size: 125px;
    font-weight: bold;
    position: absolute;
    z-index: 0;
}

#bck-productos{
    color: white;
    top: -14%;
    left: 20%;
}

#bck-terminaciones{
    color: #66ffad;
    top: 0;
    left: 5%;
    z-index: 0;
    font-size: 120px;
}

#bck-precios{
    color: white;
    top: 1.7%;
    left: 0;
    right: 0;
    text-align: center;
}

#bck-quienes-somos{
    color: #66ffad;
    top: 0;
    left: 0;
}

#bck-contactos{
    color: white;
    top: 4%;
    left: 10%;
}

#productos{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 100px;
    position: relative;
    background-color: #e4e4e4;
    z-index: 0;
}

#logo-header{
    z-index: 1;
    position: absolute;
    left: 3%;
}

#logo-header img{
    width: 167px;
    height: 110px;
}

#productos_articulos{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    justify-content: flex-end;
}

#productos_articulos article {
    width: 17em;
    height: 17em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 1.3em;
    z-index: 1;
    cursor: pointer;
}

#productos_articulos img{
    width: 100%;
}

#productos_articulos p{
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: 25px;
    position: absolute;
    color: white;
    letter-spacing: .1em;
}

#ubicacion_1{
    width: 18px;
    position: absolute;
    left: 60px;
    bottom: 60px;
}

#terminaciones{
    background-color: #0ad181;
    padding: 55px 0 120px 0;
    position: relative;
}

#terminaciones-wrapper {
  width: 1550px;
  display: block;
  position: relative;
}

#terminaciones_articulos{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 1200px;
}

#terminaciones_articulos article {
    margin: 100px 35px -14px;
    z-index: 1;
}

#terminaciones_articulos article p{
    font-family: 'Poppins';
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 20px;
}

#terminaciones_articulos article img{
    border-radius:160px;
    margin-bottom: 30px;
    box-shadow: 0 0px 17px grey;
    width: 250px;
}

#terminaciones_articulos article hr{
    width: 102px;
    border-color: #542c707d;
}

#ubicacion_2{
    width: 17;
    position: absolute;
    right: 60;
    bottom: 60;
}

#precios{
    position: relative;
    background-color: #e4e4e4;
    overflow: hidden;
}

#precios h2{
    font-family: 'poppins';
    font-size: 65px;
    font-weight: bolder;
    color: #542c70;
}

.precio-producto p{
    font-family: 'poppins';
    font-size: 18px;
    font-weight: 300;
    color: #542c70;
    margin-bottom: 80px;
}

.tabla-precios{
    font-family: 'poppins';
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #542c70;
    padding: 0px 7px;
    height: 50;
    border-collapse: collapse;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    margin-bottom: 1%;
}

#tabla-modulos{
    background: none;
    color: black;
    font-family: "poppins";
}

#tarjetas-stickers #tabla-modulos #th-1 {
  min-width: 11.5em !important;
}

#folletos-carpetas #tabla-modulos #th-1 {
  min-width: 11.5em !important;
}

#folletos-carpetas #tabla-modulos #th-2 {
  min-width: 6em;
}

#stickers #tabla-modulos #th-1 {
  min-width: 14.5em !important;
}

#stickers #tabla-modulos #th-2 {
  min-width: 8em;
}

#carpetas #tabla-modulos #th-1 {
  min-width: 14em !important;
}

#carpetas #tabla-modulos #th-2 {
  min-width: 9.5em;
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 8px;
}

#th-1 {
    min-width: 9em !important;
    font-weight: 600;
    font-size: 1.3em;
    text-align: left;
    padding-left: 2%;
    border-right: solid 3px #EDEDED;
}

#th-1 i {
  font-weight: 300;
  font-style: normal;
}

#th-2{
    min-width: 100px;
    font-weight: 600;
    border-right: solid 3px #EDEDED;
}

#tabla-modulos #th-2 {
  font-weight: 300;
}

#tabla-modulos th {
  min-width: 6em;
}

#tabla-modulos #th-1 {
  min-width: 12.5em;
}

article table .last {
  border-right: 0 !important;
}

#interior-exterior {
  margin-bottom: 7px;
}

#precios article{
    width: 570px;
    text-align: center;
    border: solid 57px #EDEDED;
    background-color: #ededed;
    box-shadow: 0 0px 17px grey;
    margin-bottom: 50px;
    overflow: hidden;
}

#descripcion-impresion{
    background-color: e4e4e4;
    font-family: 'poppins';
    font-size: 14.5px;
    font-weight: 200;
    text-align: initial;
    height: 86px;
    display: flex;
    align-items: center;
    padding-left: 2%;
    width: 100%;
    margin-left: 0;
    margin-bottom: 1.5em;
}

#descripcion-impresion b {
  display: contents;
}

#descripcion-impresion span {
  color: #0ad181;
  display: contents;
}

#precio-articulos{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 3000px;
    width: 60%;
    min-width: 1412px;
}

#tarjetas-stickers{
    position: absolute;
    top: 177px;
    left: 0;
    z-index: 1;
}

#folletos-carpetas{
    position: absolute;
    top: 538px;
    right: 0;
    z-index: 1;
}

#pie-pagina-precios{
    background-color: #e4e4e4;
    margin: 20px 0;
    border: solid 10px #e4e4e4;
    padding: 62px 50px 62px 50px;
    box-shadow: inset 0px 0px 0px .2em #ededed;
}

#pie-pagina-precios p{
    font-family: 'poppins';
    font-size: 15px;
    font-weight: 300;
    color: #542c70;
}

#ubicacion-3{
    width: 108;
    position: absolute;
    bottom: 60px;
    right: 60px;
    display: none;
}

#quienes-somos{
    background-color: 0ad181;
    height: 500px;
    display: flex;
    position: relative;
}

#quienes-somos-wrapper {
  width: 1550px;
  display: block;
  height: 100%;
  position: relative;
  margin-top: 50px;
}

#texto-quienes-somos{
  width: 568px;
  margin-right: 8%;
  z-index: 99999999999999;
  margin-top: 5%;
  position: relative;
}

#texto-quienes-somos p{
    font-family: 'poppins';
    font-size: 19px;
    color: #542c70;
    margin-top: 39px;
    z-index: 923038290482309;
    position: absolute;
}

#ubicacion-4{
    position: absolute;
    width: 107;
    left: 60;
    bottom: 60;
}

#contacto{
    height: 1080px;
    background-color: #e4e4e4;
    display: flex;
    align-items: center;
    position: relative;
}

#contacto form{
    width: 1225px;
    height: 640px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0px 17px grey;
    z-index: 1;
    background-color: #e4e4e4;
    padding-top: 6%;
}

#contacto form input, #contacto form textarea {
  border: none;
  padding: 2%;
  margin-bottom: 3%;
  margin-top: 0;
  font-family: 'Poppins';
}

#contacto form input{
    width: 1065;
    height: 8%;
}
#contacto form input[type=submit] {
    padding-bottom: 3%;
}

#contacto form textarea{
    height: 280;
    width: 1065;
}

#ubicacion-5{
    position: absolute;
    width: 107;
    right: 60;
    bottom: 60;
}

#footer{
    background-color: #0ad181;
    height: 250px;
    display: flex;
    position: relative;
}

#footer img{
    width: 200px;
    padding-top: 10px;
}

.circle-productos {
    height: 1400px;
    width: 1400px;
    background-color: #0ad181;
    border-radius: 50%;
    position: absolute;
    right: -550px;
    top: -350px;
}

.circle-precios{
    height: 1100px;
    width: 1100px;
    background-color: #0ad181;
    border-radius: 50%;
    position: absolute;
    right: -550px;
    top: 49px;
    z-index: 0;
}

.circle-precios2{
    height: 1100px;
    width: 1100px;
    background-color: #0ad181;
    border-radius: 50%;
    position: absolute;
    left: -550px;
    bottom: 100px;
    z-index: 0;
}

.circle-contacto{
    height: 700px;
    width: 700px;
    background-color: #0ad181;
    border-radius: 50%;
    position: absolute;
    right: 35px;
    top: 100px;
    z-index: 0;
}

#fremont-bg-contacto{
    position: absolute;
    right: 60px;
    bottom: 60px;
}

#fremont-bg-precios{
    top: 0;
}


.fancybox__carousel {
  max-width: 100%;
}

p.p-sticker-circulares {
  max-width: 7em;
  text-align: center;
  line-height: 1.1em;
}

@media only screen and (max-width: 700px){

    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        display: block;
        margin-right: 1.7em;
        margin-bottom: 9px;
    }

    #redes  {
        display: none;
    }

    #redes a {
        display: block;
    }

    #mobile-nav  input:checked  ~ ul{
        display:block;
      }

      #mobile-nav  input {
        display: none;
      }

      #mobile-nav  label {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
      }

      /* Estilo del boton cuando se pasa el mouse por encima*/
      #mobile-nav  label:hover{
        background: grey;
      }

      /* Estilo del boton cuando el menú está expandido*/
      #mobile-nav  input:checked ~ label {
        background: lightgrey;
      }

      #mobile-nav  ul{
        margin-top:0;
        padding: 20% 0;
        width: 200px;
        position: absolute;
        display: none;
        transform: translate(-170px, 0px);
        background-color: white;
        border-radius: 15px;
        list-style: none;
        z-index: 2;
      }

      #mobile-nav  li {
        font-family: 'poppins';
        font-weight: 300;
        display: block;
        margin: 0;
        padding: 7px 22px;
        list-style: none;
        font-size: .9em;
    }

      /*Estilo cuando el mouse pasa encima de cada link del menu*/
      #mobile-nav  li:hover {
        filter: brightness(110%);
      }

      #productos_articulos {
        margin: 0 4%;
        justify-content: center;
      }

      #productos {
        padding-bottom: 18%;
      }

      #productos_articulos article {
        margin: 0.5em;
        width: 10em;
        height: 10em;
      }

      .back-text {
        display: none;
      }

      .tabla-precios {
        margin-left: 0;
        height: 1.7em;
        max-width: 65%;
        margin-left: 10%;
      }

      #precio-articulos {
        flex-direction: column;
        flex-flow: column;
        height: 2725px;
        width: 65%;
      }

      .circle-precios2 {
        display: none;
      }

      #precios {
        width: 100%;
      }

      #precios article {
        border-left: 0;
        width: 25em;
        margin: 0 auto;
        border-right: 0;
        margin-left: 0%;
        margin-right: 0%;
        border-top-width: 40px;
        border-bottom-width: 40px;
      }

      #tarjetas-stickers, #folletos-carpetas {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
      }

      #th-1 {
          font-size: .6em;
          min-width: 70px;
      }

      #th-2 {
          font-size: .6em;
          min-width: 61px;
      }

      table.modulos {
          margin-left: 1.5%;
      }

      #quienes-somos {
        height: 36%;
        padding-top: 15%;
      }

      #quienes-somos-wrapper {
        margin-top: 0;
      }

      #texto-quienes-somos {
        width: 94%;
        margin: 0% 6%;
      }

      #contacto form {
          margin: 0;
          padding: 18% 10% 0;
          height: 534px;
      }

      #contacto form input, #contacto form textarea {
        width: 90%;
        margin-bottom: 6%;
      }

      #terminaciones {
        padding: 4em 0 0em 0;
      }

      #terminaciones-wrapper {
        width: inherit;
      }

      #terminaciones_articulos {
        width: 100%;
      }

      #terminaciones_articulos article {
        margin: 0;
        width: 10em;
        margin-bottom: 3em;
      }

      #terminaciones_articulos article img {
        width: 6em;
        margin-bottom: 1em;
      }

      #terminaciones_articulos article p {
        font-size: .9em;
        margin-bottom: 0.5em;
      }

      #productos_articulos p {
        font-size: .8em;
      }

      #precios h2 {
        font-size: 2em;
      }

      .precio-producto p {
        font-size: .7em;
        margin-bottom: 3em;
      }

      #descripcion-impresion {
        font-size: 9px;
        height: 5em;
        margin-left: 10%;
        width: 75.3%;
      }

      #pie-pagina-precios {
        margin: 4% 10%;
        padding: 6% 3%;
        max-width: 264px;
      }

      #pie-pagina-precios p {
        font-size: 9px;
      }

      svg {
        display: none;
      }

      #contacto {
        height: 600px;
      }

      #logo-header img {
        width: 134px;
        height: 110px;
        margin-left: 22%;
      }

      header {
        padding: 100px 0px 28px 0px;
      }

      #terminaciones_articulos article hr{
        width: 60px;
        border-color: #542c707d;
    }

    #precio-producto-th1 #tabla-modulos #th-1 {
      min-width: 15em !important;
    }

    #precio-stickers-th1 #tabla-modulos #th-1 {
      min-width: 22em !important;
    }

    #carpetas #tabla-modulos #th-1 {
      min-width: 17em !important;
    }

    #folletos #tabla-modulos #th-1 {
      min-width: 15em !important;
    }

    #folletos-carpetas .simple-faz {
      font-size: 11.5px;
      min-width: 109px !important;
    }

    #stickers #th-1 {
      min-width: 14.7em !important;
    }

    #carpetas #th-1  {
      min-width: 11.5em !important;
    }

    #carpetas #th-2 {
      min-width: 6.7em;
    }

    #carpetas #tabla-modulos #th-2 {
      font-size: .55em;
      line-height: 1.2em;
      min-width: 9.5em;
    }

    #texto-quienes-somos p {
      font-size: 15px;
      margin: 0 8% 0 5%;
    }

    #footer img {
      width: 175px;
    }

    #footer {
      height: 250px;
    }

    #stickers #tabla-modulos #th-2 {
      min-width: 6em;
    }
}

::placeholder {
  color: #808080;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #808080;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #808080;
}
